<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014569507613-vodu38bfju8k40um1vnt7o93oq84ipsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014569507613-vodu38bfju8k40um1vnt7o93oq84ipsl</string>
	<key>API_KEY</key>
	<string>AIzaSyDu-0C9YutZDPJCanUxPSu5GMY4Q8_2C_o</string>
	<key>GCM_SENDER_ID</key>
	<string>1014569507613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linkup</string>
	<key>PROJECT_ID</key>
	<string>linkup-academic-app</string>
	<key>STORAGE_BUCKET</key>
	<string>linkup-academic-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014569507613:ios:aa95f936878217723c1ff4</string>
	<key>DATABASE_URL</key>
	<string>https://linkup-academic-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>